@import url('https://fonts.googleapis.com/css?family=Lato:300,400&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {

	height: 100vh;
	/* width: 100vw; */
	background-color: #9bb3ee;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}



.fixarRodape {
	width: 100vw;
	text-align: center;
	background-color: black;
	color: white;
	padding: 20px;
}

.menu {
	margin-bottom: 2px;
	background-color: orangered;
	padding: 20px;
	width: 100vw;
	/* height: 10vh; */
	border-bottom-right-radius: 50px;
	border-bottom-left-radius: 50px;
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-around;
	align-items: center;
	color: white;
}

a {
	color: white;
	text-decoration: none;
}

.menu h1 a {
	letter-spacing: 3px;
	font-size: 40px;
	align-items: center;


}

.ultraBall {
	height: 10vh;

}

.poke-container {
	display: flex;
	flex-wrap: wrap;
	/* align-items: space-between; */
	justify-content: center;
	/* margin: 0 auto; */
	max-width: 90vw;
	/* gap: 1vw; */
}
.pokemon {
	background-color: #eee;
	border-radius: 10px;
	box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
	margin: 10px;
	padding: 20px;
	text-align: center;
}

.pokemon .img-container {
	background-color: rgba(255, 255, 255, 0.6);
	border-radius: 50%;
	width: 120px;
	height: 120px;
	text-align: center;
}

.pokemon .img-container img {
	max-width: 90%;
	margin-top: 20px;
}

.pokemon .info {
	margin-top: 20px;
}

.pokemon .info .number {
	background-color: rgba(0, 0, 0, 0.1);
	padding: 5px 10px;
	border-radius: 10px;
	font-size: 0.8em;
}

.pokemon .info .name {
	margin: 15px 0 7px;
	letter-spacing: 1px;
}



.fire {
	background-color: #e7a545;
	/* color: #e7a545; */


}

.grass {
	background-color: #57bd64;
	/* color: #57bd64; */


}

.electric {
	background-color: #ECD846;
	/* color: #ECD846; */

}

.water {
	background-color: #439bed;
	/* color: #439bed; */

}

.ground {
	background-color: #d27f50;
	/* color: #d27f50; */

}

.rock {
	background-color: #d4bf8c;
	/* color: #d4bf8c; */

}

.fairy {
	background-color: #f293e8;
	/* color: #f293e8; */

}

.poison {
	background-color: #ac56c3;
	/* color: #ac56c3; */

}

.bug {
	background-color: #9bbb2f;
	/* color: #9bbb2f; */

}

.dragon {
	background-color: #0470db;
	/* color: #0470db; */

}

.psychic {
	background-color: #f87c7a;
	/* color: #f87c7a; */

}

.flying {
	background-color: #9bb3ee;
	/* color: #9bb3ee; */

}

.fighting {
	background-color: #d54452;
	/* color: #d54452; */

}

.normal {
	background-color: #989da2;
	/* color: #989da2; */

}

.dark {
	background-color: #5f606d;
	/* color: #5f606d; */

}

.steel {
	background-color: #5596a4;
	/* color: #5596a4; */

}

.ice {
	background-color: #7ed4c9;
	/* color: #7ed4c9; */

}

.ghost {
	background-color: #6970c5;
	/* color: #6970c5; */

}

@media only screen and (max-width: 600px) {
	.menu {

		display: flex;
		flex-direction: column-reverse;
		justify-content: space-around;
		align-items: center;
	}

	.figureUltraBall {
		order: 1;
	}

	.poke-container {

		display: flex;
		flex-flow: wrap;
		align-items: center;
		justify-content: space-around;
	}

}


