.mortal{
    height: 350px;
    width: 250px;
    border: 5px solid black;
}

.resident{
    height: 350px;
    width: 250px;
    border: 5px solid black;
}

.f1{
    height: 350px;
    width: 250px;
    border: 5px solid black;
}

.god{
    height: 350px;
    width: 250px;
    border: 5px solid black;
}

.mortal-trailer{
    height: 40vh;
    width: 30vw;
    position: relative;
    right: -35px;
}

.resident-trailer{
    height: 40vh;
    width: 30vw;
    position: relative;
    right: -35px;
}

.f1-trailer{
    height: 40vh;
    width: 30vw;
    position: relative;
    right: -35px;
}

.god-trailer{
    height: 40vh;
    width: 30vw;
    position: relative;
    right: -35px;
}

.container-de-jogos{

    display: flex;
    flex-direction: column;
    align-items: center;
}

.jogos{
    color: white;
    background-color: rgb(22, 22, 62);
    margin-bottom: 20px;
    border: 10px solid black;
    width: 50vw;
    height: 30%;
}

header{
    border: 10px solid black;
    background-color: rgb(22, 22, 62);
    color: white;
}

main{
    background-color: rgb(37, 29, 107);
    border: 10px solid black;
}

.pesquisa{
    margin-bottom: 100px;
    justify-content: center;
}

footer{
    background-color: rgb(22, 22, 62);
    color: white;
    border: 10px solid black;
}



