/* :::::::::::::::::CONFIGURACAO DE PAGINA::::::::::::::::: */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: white;
    height: 10%;
    width: 100%;
    border-bottom: 1px solid green;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;

}
main{
    height: 88%;
    min-height: 800px;
    background-color: white;
    font-family: helvetica;
}
footer{
    height: 2%;
    background-color: green;
    color: white;
    margin-top: 2%;
}
#logo-super-brasil{
    width: 50%;
    min-width: 270px;
    padding: 1%;
}
/* :::::::::::::::::CONFIGURACAO DE PAGINA::::::::::::::::: */

/* :::::::::::::::::SUBTITULO E PESQUISA::::::::::::::::: */
.subtitulo{
    font-size: 2em;
    padding: 20px 0 0 0;
    text-align: center;
    color: rgb(3, 92, 3);
    margin-bottom: 99px;
}
/* :::::::::::::::::SUBTITULO E PESQUISA::::::::::::::::: */

/* :::::::::::::::::CONFIGURACAO DE CENTRO::::::::::::::::: */
.div-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.conteiner{
    flex-grow: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 300px;
    align-items: center;
}
form{
    text-align: center;
}
.centro{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    margin: 10% 0 10% 0;
    justify-content: center;
    
}
.inputs{
    padding: 2%;
    margin: 10px;
}
#foto{
    margin-top: 10%;
}
/* :::::::::::::::::CONFIGURACAO DE CENTRO::::::::::::::::: */

/* :::::::::::::::::CONFIGURACAO DE NAV::::::::::::::::: */
nav{
    flex-grow: 1;
    padding-left: 1%;
    min-width: 15%;
    text-align: center;
}
/* :::::::::::::::::CONFIGURACAO DE NAV::::::::::::::::: */
/* :::::::::::::::::CONFIGURACAO ASIDE::::::::::::::::: */
aside{
    flex-grow: 1;
    border: 1px solid white;
    margin: 0 2%;
    padding: 1%;
    height: fit-content;
    min-width: 20%;
    max-width: 300px;
}
/* :::::::::::::::::CONFIGURACAO ASIDE::::::::::::::::: */
