/* :::::::::::::::::CONFIGURACAO DE PAGINA::::::::::::::::: */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: white;
    height: 10%;
    width: 100%;
    border-bottom: 1px solid green;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;

}
main{
    height: 88%;
    min-height: 800px;
    background-color: white;
    font-family: helvetica;
}
footer{
    height: 2%;
    background-color: green;
    color: white;
}
#logo-super-brasil{
    width: 50%;
    min-width: 270px;
    padding: 1%;
}
/* :::::::::::::::::CONFIGURACAO DE PAGINA::::::::::::::::: */

/* :::::::::::::::::SUBTITULO E PESQUISA::::::::::::::::: */
.botao{
    padding: 40px;
    text-align: center;
}
.subtitulo{
    font-size: 2em;
    padding: 20px 0 0 0;
    text-align: center;
    color: rgb(3, 92, 3);
}
/* :::::::::::::::::SUBTITULO E PESQUISA::::::::::::::::: */

/* :::::::::::::::::CONFIGURACAO CENTRO::::::::::::::::: */
.imagens{
    margin: 20px;
    width: 150px;
    border-radius: 75px;
    box-shadow: 5px 5px 10px rgb(143, 142, 142);
}
.conteiner-produtos{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(246, 253, 246);
    margin-bottom: 10px;
    padding: 2%;
    border-radius: 5%; 
}
.texto{
    text-align: center;
    list-style-type: none; 
}
.div-flex{
    display: flex;
    justify-content: space-between;
}
nav{
    flex-grow: 1;
    padding-left: 1%;
    min-width: 15%;
}
.centro{
    flex-grow: 3;
}
aside{
    flex-grow: 1;
    border: 1px solid green;
    margin: 0 2%;
    padding: 1%;
    height: fit-content;
    min-width: 20%;
}
aside>h2{
    text-align: center;
}
#saiba{
    text-align: right;
    padding-right: 5%;
}
/* :::::::::::::::::CONFIGURACAO CENTRO::::::::::::::::: */