.conteiner {
    width: 400px;
    margin: auto;
    position: relative;
    color: rgb(255, 255, 255);
    background: url(../projeto-intro-web/image/pexels-photo-7130555.jpg);
}

.conteiner img {
    width: 100%;
    background: url(../projeto-intro-web/image/pexels-photo-7130555.jpg);
}

.baixoEsquerda {
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
}

.topoEsquerda {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;

}

.topoDireita {
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
}

.baixoDireita {
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
}

.centro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
}

.espaco-top {
    margin-top: 20px;

}

.rodape {
    width: 200%;
    background: rgb(246, 152, 202);
    position: absolute;
    bottom: 0;
        padding: 20px;
}

.rodape .copy {
    padding-left: left 25px;
}

.rodape a {
    float: right;
    padding-right: 25px;
}
.rodape .copy,
.rodape a {
    font-size: 14px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}