/* :::::::::::::::::CONFIGURACAO DE PAGINA::::::::::::::::: */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: white;
    height: 10%;
    width: 100%;
    border-bottom: 1px solid green;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;

}
main{
    height: 88%;
    min-height: 800px;
    background-color: white;
    font-family: helvetica;
}
footer{
    height: 2%;
    background-color: green;
    color: white;
    margin-top: 2%;
}
#logo-super-brasil{
    width: 50%;
    min-width: 270px;
    padding: 1%;
}
/* :::::::::::::::::CONFIGURACAO DE PAGINA::::::::::::::::: */

/* :::::::::::::::::CONFIGURACAO CENTRO::::::::::::::::: */
div>h2{
    font-size: 2em;
    padding: 20px 0 0 0;
    text-align: center;
    color: rgb(3, 92, 3);
    margin-bottom: 99px;
}
.conteiner{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
article{
    flex-grow: 3;
    text-align: center;
    
}
article>img{
    align-self: center;
    margin: 10px;
    width: 60%;
    max-width: 600px;
    min-width: 200px;

}
article>p{
    text-align: center;
    font-size: 1em;
    /* padding: 5%; */
    /* max-width: 650px; */
   
}
#caixa-texto{
    width: 600px;
    padding: 5%;
    
}
/* :::::::::::::::::CONFIGURACAO CENTRO::::::::::::::::: */

/* :::::::::::::::::CONFIGURACAO NAV::::::::::::::::: */
nav{
    flex-grow: 1;
    padding-left: 1%;
    text-align: center;
    width: 200px;
    max-width: 250px;
    height: fit-content;

}
/* :::::::::::::::::CONFIGURACAO NAV::::::::::::::::: */

/* :::::::::::::::::CONFIGURACAO ASIDE::::::::::::::::: */
 aside{
    width: 200px;
    height: 50px;
}
/* :::::::::::::::::CONFIGURACAO ASIDE::::::::::::::::: */