* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--warning);
}


:root {
    --warning: #ffc107;
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;

}

main {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* display: grid;
    justify-items: center; */

}

h1 {
    font-size: 5em;
    display: grid;
    justify-items: center;
    height: 25%;
    width: 100%;
    border: solid rgb(112, 40, 175) 5px;
}

.search-box {
    font-size: 2em;
    display: grid;
    justify-items: center;
    border: solid rgb(45, 29, 59) 5px;
}

li {
    border: solid blueviolet 5px;
    font-size: 1em;
}

.tituloSuco1,
.tituloSuco2,
.tituloSuco3 {
    font-size: 1.5em;
    display: grid;
    justify-items: start;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    border: solid black 5px;
}

li {
    font-size: 1em;
    list-style: none;
    display: grid;
    justify-items: center;
}

#img-1 {
    height: 20%;
    width: 100%;
    border: solid red 5px;
    background-color: #28a745;

}

#img-2 {
    height: 20%;
    width: 100%;
    border: solid royalblue 5px;

}


#img-3 {
    height: 20%;
    width: 100%;
    border: solid forestgreen 5px;
}

/* .sucoBeterraba {
    background-color: var(#28a745);
}

.sucoPepino {
    background-color: var(#007bff);
}

.sucoCouveEMaca {
    background-color: var(#343a40);
} */

Footer {
    height: 10%;
    width: 100%;
    justify-content: space-evenly;
    position: absolute;
    border: solid rgb(211, 28, 28) 5px;
}