* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  position: relative;
  /*só pra fixar o footer na base*/
}

header {
  display: grid;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 15vh;
  align-items: center;
  background-color: black;
  color: white;
  font-size: 3vh;
}

h1 {
  padding: 0px 0px 0px 5vh;
}

main {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 16vh auto;
  font-family: arial;
  font-size: 25px;
}

/* botão de pesquisa*/
#divBusca {
  display: flex;
  margin: 20px auto;
  background-color: #E0EEEE;
  border: solid 1px #5F9EA0;
  border-radius: 10px;
  width: 350px;
  height: 50px;
}

#txtBusca {
  float: left;
  background-color: transparent;
  padding-left: 5px;
  font-size: 20px;
  border: none;
  height: 50px;
  width: 191px;
}

#btnBusca {
  border: none;
  float: right;
  height: 48px;
  border-radius: 10px;
  width: 122px;
  font-weight: bold;
  background: #5F9EA0;
  font-size: 25px;
}

#btnBusca:hover {
  font-size: 26px;
}

#btnBusca:active {
  background-color: white;
  font-size: 25px;
}

#divBusca img {
  border-radius: 10px;
  float: left;
  width: 55px;
  height: 48px;
}

/*blocos*/
.bloco {
  display: flex;
  margin: 30px auto;
  padding: 25px;
  border-radius: 20px;
}

#bloco-1 {
  background-color: red;
  border: solid black 10px;
  color: black;
}

#bloco-2 {
  color: white;
  background-color: rgb(31, 146, 31);
  border: solid rgb(72, 186, 72) 10px;
}

#bloco-3 {
  background-color: blue;
  border: solid rgb(4, 11, 196) 10px;
  color: white;
}

#bloco-4 {
  background-color: black;
  border: solid red 10px;
  color: red;
}

/*links*/
a:link {
  color: white;
}

a:hover {
  font-size: 26px;
}

footer {
  display: grid;
  position: absolute;
  bottom: 0;
  background-color: rgb(52, 189, 173);
  color: black;
  width: 100%;
  /* padding: 20px; */
  align-items: center;
  justify-items: center;
  font-size: 3vh;
  height: 15vh;
}

/* para as imagens no footer*/
.imagem-insta {
  height: 5vh;
  width: auto;
}

.imagem-linkedin {
  height: 5.2vh;
  width: auto;
}

.imagem-git {
  height: 5vh;
  width: auto;
}

.imagem-insta:hover {
  height: 6vh;
  width: auto;
}

.imagem-linkedin:hover {
  height: 6.2vh;
  width: auto;
}

.imagem-git:hover {
  height: 6.2vh;
  width: auto;
}

/*imagens dos blocos*/
.dimension {
  float: left;
  width: auto;
  height: auto;
}

.list-lateral {
  /* display: inline-block; */
  vertical-align: top;
  padding: 0px 0px 0px 25px;
}

#img-cru {
  width: 200px;
  height: 200px;
}

#img-cap {
  padding: 0px 20px 0px 20px;
  height: 210px;
}

/* responsividade*/

@media screen and (max-device-width: 600px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 10vh;
    font-size: 4vw;
    width: 100vw;
  }

  h1 {
    position: absolute;
    padding: 0px 0px 0px 0px;
  }

  main {
    margin: 11vh 0px 1vh 0px;
    padding: 0px 0px 0px 0px;
    width: 100%;
    font-size: 5vw;
  }

  /*barra de pesquisa*/
  #divBusca {
    display: flex;
    margin: 20px auto;
    background-color: #E0EEEE;
    border: solid 1px #5F9EA0;
    border-radius: 10px;
    width: 350px;
    height: 50px;
  }
  
  #txtBusca {
    float: left;
    background-color: transparent;
    padding-left: 5px;
    font-size: 20px;
    border: none;
    height: 50px;
    width: 191px;
  }
  
  #btnBusca {
    border: none;
    float: right;
    height: 48px;
    border-radius: 10px;
    width: 122px;
    font-weight: bold;
    background: #5F9EA0;
    font-size: 25px;
  }
  
  #btnBusca:hover {
    font-size: 26px;
  }
  
  #btnBusca:active {
    background-color: white;
    font-size: 25px;
  }
  
  #divBusca img {
    border-radius: 10px;
    float: left;
    width: 55px;
    height: 48px;
  }  

  /*blocos*/

  .bloco {
    align-items: center;
    margin: 2vw auto;
    padding: 1vw 1vw 1vw 1vw;
  }

  #bloco-1 {
    padding: 1vw 1vw 1vw 1vw 3vw;
    border: solid black 2vw;
    color: black;
  }

  #bloco-2 {
    border: solid rgb(72, 186, 72) 2vw;
  }

  #bloco-3 {
    border: solid rgb(4, 11, 196) 2vw;
  }

  #bloco-4 {
    border: solid red 2vw;
  }

  a:hover {
    font-size: 6vw;
  }
  
  .list-lateral {
    vertical-align: top;
    padding: 0px 0px 0px 5vw;
  }

  .dimension {
    width: auto;
    height: 40vw;
  }

  #img-fla {
    padding: 0px 4vw 0px 6vw;
    width: auto;
    height: 35vw;
  }

  #img-pal {
    padding: 0px 1.5vw 0vw 2vw;
    width: auto;
    height: 35vw;
  }

  #img-cru {
    padding: 1.5vw 1vw 1.5vw 1vw;
    width: auto;
    height: 40vw;
  }

  #img-cap {
    padding: 0px 6vw 0px 7vw;
    width: auto;
    height: 35vw;
  }

  footer {
    position: static;
    align-items: center;
    justify-items: center;
    height: 20vw;
    font-size: 4vw;
  }

  .imagem-insta {
    height: 6vw;
    width: auto;
  }

  .imagem-linkedin {
    height: 6.2vw;
    width: auto;
  }

  .imagem-git {
    height: 6vw;
    width: auto;
  }


}