
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans+Display:wght@700&family=Rubik+Dirt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap&family=Bebas+Neue&family=Noto+Sans+Display:wght@700&family=Rubik+Dirt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script&family=Inspiration&family=Noto+Sans+Display:wght@700&family=Rubik+Dirt&display=swap');


.titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-image: linear-gradient(135deg, #fffff3 0, #fffff0 8.33%, #ffffee 16.67%, #ffffea 25%, #fbffe5 33.33%, #ebfadf 41.67%, #dbead7 50%, #cddace 58.33%, #c3cbc5 66.67%, #bbbfbd 75%, #b5b4b5 83.33%, #b1acae 91.67%, #afa6a8 100%); */
    border-radius: 10px;
    /* margin-right: 10fr;  */
    border-bottom: solid rgb(2, 2, 2);
    border-top: solid black;
    border-width: 1px;
    /* width: 500px; */
    
    

    color: rgb(3, 3, 3);
}
a{
    color: black;
    text-decoration: none;
    border-radius: 5px;
}
a:hover{
    background-color:rgb(255, 255, 255); 
    border: 0.5px solid black;
}
.titulo1{
    color: rgb(0, 0, 0);
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
    display: flex;
}
.botao, .busca{
    /* background-image: linear-gradient(135deg, #ffffdc 0, #ffffda 8.33%, #ffffd7 16.67%, #f4fcd4 25%, #e4f1cf 33.33%, #d4e4c9 41.67%, #c5d4c1 50%, #b8c4b8 58.33%, #adb6b0 66.67%, #a6aaa7 75%, #a09fa0 83.33%, #9c9799 91.67%, #999193 100%); */
    margin-left: 70vh;
    margin-right: 60vh;
    margin-bottom: 0.5vh;
    margin-top: 00.5vh;
    margin: auto;
    border-radius: 5px;
    color: black;
    font-family: 'Bebas Neue', cursive;
    font-size: 15px;
    display: flex;
    
    
    
    
    
}


#busca:hover {
    cursor: pointer;
}

#nome{
    background-color: #bbbfbd;
    border-radius: 5px;
    border-style:outset;

}



body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* min-height: 100vh; */
    flex-wrap: wrap;
    max-width: 800px;
    min-width: 320px;
    margin: auto;
    

    
}
.all{
    background-image: linear-gradient(135deg, #ffffff 0, #ffffff 25%, #f4f6f7 50%, #dac8bd 75%, #bfa28a 100%);    /* background-color: rgb(252, 249, 249); */
    display: grid;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    font-family:'Asap', sans-serif;
    font-weight: bold;
    max-width: 800px; /*deixou meu site responsivo*/
    min-width: 166px;
    padding: 20px;
    display: flex;
    /* align-items: center; */
    flex-wrap: wrap;
    box-shadow: 2px 20px 25px rgb(6, 6, 7);
    /* display: block; */
    text-align: center;
    
    
    
    

    /* background-color: rgb(255, 255, 255);
    border-radius: 10px;
    /* margin: 20px 20px;  
    border: thick double rgb(10, 10, 10);
    text-align: center;
    border-width: 1px;
    position: relative;
    padding: 120px;
    width: 300px;
    margin:20px;
    overflow: hidden;
    transition: 0.5s; */
    
    

    
    


    
    
    

    
    
    

}



h2{
    color: white;
    text-align: center;
    background-color: white;
    border-bottom: thick double black;
    border-top: thick double black;
   
    
    
    
    
}

.b1{
    background-image: radial-gradient(circle at 25.82% 116.45%, #13608b 0, #285e8c 6.25%, #375c8c 12.5%, #445a8b 18.75%, #505789 25%, #5a5586 31.25%, #635282 37.5%, #6c4f7e 43.75%, #734d79 50%, #794b73 56.25%, #7e496d 62.5%, #834767 68.75%, #864660 75%, #88465a 81.25%, #894653 87.5%, #89474c 93.75%, #894846 100%);    border-radius: 10px;
    margin: 20px 20px; 
    border: thick double rgb(10, 10, 10);
    text-align: center;
    border-width: 1px;
    position: relative;
    padding: 10px;
    width: 300px;
    margin:20px;
    overflow: hidden;
    transition: 0.5s;
    box-shadow: 2px 20px 25px rgb(6, 6, 7);

   
   
    

}
.b2{
    background-color: rgb(8, 41, 63);
    background-image: radial-gradient(circle at 25.82% 116.45%, #13608b 0, #285e8c 6.25%, #375c8c 12.5%, #445a8b 18.75%, #505789 25%, #5a5586 31.25%, #635282 37.5%, #6c4f7e 43.75%, #734d79 50%, #794b73 56.25%, #7e496d 62.5%, #834767 68.75%, #864660 75%, #88465a 81.25%, #894653 87.5%, #89474c 93.75%, #894846 100%);
    border-radius: 10px;
    margin: 20px 20px;
    border: thick double rgb(14, 13, 13);
    text-align: center;
    border-width: 1px;
    position: relative;
    padding: 10px;
    width: 300px;
    margin:20px;
    overflow: hidden;
    transition: 0.5s;
    box-shadow: 2px 20px 25px rgb(6, 6, 7);
   
}
.b3{
    background-color: rgb(8, 41, 63);
    background-image: radial-gradient(circle at 25.82% 116.45%, #13608b 0, #285e8c 6.25%, #375c8c 12.5%, #445a8b 18.75%, #505789 25%, #5a5586 31.25%, #635282 37.5%, #6c4f7e 43.75%, #734d79 50%, #794b73 56.25%, #7e496d 62.5%, #834767 68.75%, #864660 75%, #88465a 81.25%, #894653 87.5%, #89474c 93.75%, #894846 100%);
    border-radius: 10px;
    margin:20px 20px;
    border: thick double rgb(10, 10, 10);
    text-align: center;
    border-width: 1px;
    position: relative;
    padding: 10px;
    width: 300px;
    margin:20px;
    overflow: hidden;
    transition: 0.5s;
    box-shadow: 2px 20px 25px rgb(6, 6, 7);
}
.b4{
    background-color: rgb(8, 41, 63);
    background-image: radial-gradient(circle at 25.82% 116.45%, #13608b 0, #285e8c 6.25%, #375c8c 12.5%, #445a8b 18.75%, #505789 25%, #5a5586 31.25%, #635282 37.5%, #6c4f7e 43.75%, #734d79 50%, #794b73 56.25%, #7e496d 62.5%, #834767 68.75%, #864660 75%, #88465a 81.25%, #894653 87.5%, #89474c 93.75%, #894846 100%);
    border-radius: 20px 20px;
    border: thick double rgb(10, 10, 10);
    text-align: center;
    border-width: 1px;
    margin: 20px;
    position: relative;
    padding: 10px;
    width: 300px;
    margin:20px;
    overflow: hidden;
    transition: 0.5s;
    box-shadow: 2px 20px 25px rgb(6, 6, 7);
    
}

.b5{
    background-color: rgb(8, 41, 63);
    background-image: radial-gradient(circle at 25.82% 116.45%, #13608b 0, #285e8c 6.25%, #375c8c 12.5%, #445a8b 18.75%, #505789 25%, #5a5586 31.25%, #635282 37.5%, #6c4f7e 43.75%, #734d79 50%, #794b73 56.25%, #7e496d 62.5%, #834767 68.75%, #864660 75%, #88465a 81.25%, #894653 87.5%, #89474c 93.75%, #894846 100%);
    border-radius: 10px;
    border: thick double rgb(10, 10, 10);
    text-align: center;
    text-align: center;
    border-width: 1px;
    position: relative;
    padding: 10px;
    width: 300px;
    margin:20px;
    overflow: hidden;
    transition: 0.5s;
    box-shadow: 2px 20px 25px rgb(6, 6, 7);
    
    
}


footer{
    /* background-image: linear-gradient(135deg, #fffff3 0, #fffff0 8.33%, #ffffee 16.67%, #ffffea 25%, #fbffe5 33.33%, #ebfadf 41.67%, #dbead7 50%, #cddace 58.33%, #c3cbc5 66.67%, #bbbfbd 75%, #b5b4b5 83.33%, #b1acae 91.67%, #afa6a8 100%); */
    border-radius: 2px;
    border-bottom: solid black;
    background-color: #ffffff;
    border-top: solid rgb(255, 255, 255);
    display: flex;
    justify-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    text-decoration: underline;
    border-width: 1px;
    align-items: center;
    text-decoration: none;
    font-family: 'Dancing Script', cursive;
    /* box-shadow: 2px 20px 25px rgb(6, 6, 7); */

    
}   
.botao2{
    /* background-image: linear-gradient(135deg, #fffff3 0, #fffff0 8.33%, #ffffee 16.67%, #ffffea 25%, #fbffe5 33.33%, #ebfadf 41.67%, #dbead7 50%, #cddace 58.33%, #c3cbc5 66.67%, #bbbfbd 75%, #b5b4b5 83.33%, #b1acae 91.67%, #afa6a8 100%);  */
    background-color: white;
    margin-bottom: 3px;
    margin-top: 1px;
    text-decoration: none;
    border-radius: solid rgb(7, 7, 7) ;
    border-radius: 10px;
    border: 5px;
    padding: 3px 3px 3px 3px;
   text-align: center;
}
.botao2:hover{
    /* background-image: linear-gradient(135deg, #ffffff 0, #ffffff 12.5%, #f5fdff 25%, #daf1f8 37.5%, #bfe3f1 50%, #a4d5eb 62.5%, #8bc7e7 75%, #75bae3 87.5%, #62aee0 100%); */
    padding: 5px 5px 5px 5px;
    background-color: #f4f6f7;
}



.b1:hover{
    /* background-image: linear-gradient(135deg, #ffffff 0, #ffffff 12.5%, #f5fdff 25%, #daf1f8 37.5%, #bfe3f1 50%, #a4d5eb 62.5%, #8bc7e7 75%, #75bae3 87.5%, #62aee0 100%); */
    padding: 20px 20px 20px 20px;
    background-image: linear-gradient(135deg, #ffffff 0, #ffffff 25%, #f4f6f7 50%, #dac8bd 75%, #bfa28a 100%);    /* background-color: rgb(252, 249, 249); */

}

.b2:hover{
    /* background-image: linear-gradient(135deg, #ffffff 0, #ffffff 12.5%, #f5fdff 25%, #daf1f8 37.5%, #bfe3f1 50%, #a4d5eb 62.5%, #8bc7e7 75%, #75bae3 87.5%, #62aee0 100%); */
    padding: 20px 20px 20px 20px;
    background-image: linear-gradient(135deg, #ffffff 0, #ffffff 25%, #f4f6f7 50%, #dac8bd 75%, #bfa28a 100%);    /* background-color: rgb(252, 249, 249); */

}

.b3:hover{
    /* background-image: linear-gradient(135deg, #ffffff 0, #ffffff 12.5%, #f5fdff 25%, #daf1f8 37.5%, #bfe3f1 50%, #a4d5eb 62.5%, #8bc7e7 75%, #75bae3 87.5%, #62aee0 100%); */
    padding: 20px 20px 20px 20px;
    background-image: linear-gradient(135deg, #ffffff 0, #ffffff 25%, #f4f6f7 50%, #dac8bd 75%, #bfa28a 100%);    /* background-color: rgb(252, 249, 249); */

}

.b4:hover{
    /* background-image: linear-gradient(135deg, #ffffff 0, #ffffff 12.5%, #f5fdff 25%, #daf1f8 37.5%, #bfe3f1 50%, #a4d5eb 62.5%, #8bc7e7 75%, #75bae3 87.5%, #62aee0 100%); */
    padding: 20px 20px 20px 20px;
    background-image: linear-gradient(135deg, #ffffff 0, #ffffff 25%, #f4f6f7 50%, #dac8bd 75%, #bfa28a 100%);    /* background-color: rgb(252, 249, 249); */

}

.b5:hover{
    /* background-image: linear-gradient(135deg, #ffffff 0, #ffffff 12.5%, #f5fdff 25%, #daf1f8 37.5%, #bfe3f1 50%, #a4d5eb 62.5%, #8bc7e7 75%, #75bae3 87.5%, #62aee0 100%); */
    padding: 20px 20px 20px 20px;
    background-image: linear-gradient(135deg, #ffffff 0, #ffffff 25%, #f4f6f7 50%, #dac8bd 75%, #bfa28a 100%);    /* background-color: rgb(252, 249, 249); */

}

