* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "karla";
}

#container {
  background-color: #22272d;
  min-height: 100vh;
  max-width: 100vw;
}

main {
  display: flex;
}

aside {
  width: 260px;
  height: 100vh;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  color: #b2b2b2;
  padding: 12px;
}

.search-menu > a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  gap: 4px;
}

.home-menu > a {
  text-decoration: none;
  color: #b2b2b2;
  display: flex;
  align-items: center;
  gap: 4px;
}

.aside-menu > div > a:hover {
  cursor: pointer;
  color: white;
}

.home-menu:hover,
.search-menu:hover,
.library-menu:hover,
.create-menu:hover,
.favorite-menu:hover {
  cursor: pointer;
  color: white;
}

.aside-menu > .codeplayer {
  padding: 8px 0 32px 0;
  display: flex;
  font-size: 28px;
  color: white;
  align-items: center;
}

.aside-menu > div {
  display: flex;
  align-items: center;
  padding-left: 12px;
  padding-bottom: 16px;
  gap: 4px;
}

.aside-menu {
  border-bottom: 1px solid #343a40;
  padding-bottom: 16px;
  padding-top: 12px;
}

.aside-playlist {
  padding: 20px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  overflow-y: scroll;
  height: 52vh;
}

.aside-playlist > p:hover,
.install-app > span:hover {
  cursor: pointer;
  color: white;
}

::-webkit-scrollbar-track {
  background-color: #000000;
}
::-webkit-scrollbar {
  width: 0.75rem;
  background: #b2b2b2;
}
::-webkit-scrollbar-thumb {
  background: #b2b2b2;
}

.install-app {
  display: flex;
  align-items: center;
  padding: 8px 0 0 20px;
  font-size: 14px;
}

.right-section {
  display: flex;
  flex-direction: column;
  padding: 32px 32px 32px 32px;
  color: white;
  width: 100%;
}

.arrow-header > span {
  background-color: #14171a;
  color: #b2b2b2;
  border-radius: 100%;
  padding: 8px;
}

.arrow-header {
  grid-column: 2 / 2;
  grid-row: 2 / 2;
  display: flex;
  gap: 16px;
}

.header-section {
  display: flex;
  justify-content: space-between;
  position: relative;
}

#search-input {
  border: none;
  width: 320px;
  max-width: 320px;
  border-radius: 80px;
  height: 40px;
  font-size: 16px;
  padding-left: 48px;
}

#search-input:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
}

.search-icon {
  position: absolute;
  left: 122px;
  top: 8px;
  font-size: 20px;
  color: black;
}

#search-results {
  color: white;
  display: flex;
  height: 100%;
  gap: 12px;
  width: 100%;
  padding: 40px 0 0 24px;
  flex-wrap: wrap;
}

.profile-header > img {
  width: 28px;
  border-radius: 100%;
}

.profile-header {
  display: flex;
  background-color: black;
  max-width: 156px;
  border-radius: 16px;
  color: white;
  align-items: center;
  gap: 4px;
  font-size: 16px;
}

/* .arrow-header > span:hover {
  cursor: pointer;
  color: white;
} */

.profile-header:hover {
  cursor: pointer;
  background-color: #343a40;
}

.album > img {
  width: 192px;
  border-radius: 8px;
}

.album {
  background-color: #343a40;
  border-radius: 8px;
  width: 220px;
  height: 300px;
  display: flex;
  flex-direction: column;
  padding: 8px 0 0 14px;
  gap: 12px;
  position: relative;
}

.album > .play-button-2 {
  background-color: #1fdf64;
  border-radius: 100%;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.2);
  position: absolute;
  right: 22.4px;
  bottom: 112px;
  display: none;
}

.album:hover > .play-button-2 {
  display: flex;
}

.album:hover {
  background-color: #707273;
  cursor: pointer;
}

.artist > img {
  width: 192px;
  border-radius: 100%;
  align-self: center;
  box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.2);
}

.artist {
  background-color: #343a40;
  border-radius: 0.5rem;
  width: 220px;
  height: 300px;
  display: flex;
  flex-direction: column;
  padding: 8px 0 0 0;
  gap: 12px;
  position: relative;
}

.artist > .play-button-2 {
  background-color: #1fdf64;
  border-radius: 100%;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.2);
  position: absolute;
  right: 22.4px;
  bottom: 112px;
  display: none;
}

.artist:hover > .play-button-2 {
  display: flex;
}

.artist > p {
  padding: 0 0 0 14px;
}

.artist:hover {
  background-color: #707273;
  cursor: pointer;
}

.all-sections {
  display: flex;
  gap: 22px;
  flex-wrap: wrap;
  align-items: center;
  padding: 32px 0 0 0;
}

.section-container {
  background-color: #219ebc;
  width: 11vw;
  height: 23vh;
  min-width: 160px;
  min-height: 160px;
  border-radius: 16px;
  padding: 16px;
  font-size: 20px;
  display: flex;
  flex-wrap: wrap;
  font-weight: 900;
}

.search-results {
  display: none;
}

@media (max-width: 1024px) {
  .profile-header > .profile-name {
    display: none;
  }
}

@media (max-width: 733px) {
  .arrow-header > span {
    display: none;
  }

  .search-icon {
    left: 12px;
  }
}

@media (max-width: 567px) {
  .codeplayer > span {
    display: none;
  }

  aside {
    position: fixed;
    width: 100vw;
    height: 80px;
    padding-left: 0;
    z-index: 10;
    top: auto;
    bottom: 0;
  }

  .aside-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: none;
    gap: 5vw;
    font-size: 4vw;
  }

  .aside-playlist {
    display: none;
  }

  .aside-menu > .create-menu,
  .aside-menu > .favorite-menu {
    display: none;
  }

  .search-menu .aside-playlist,
  .install-app {
    display: none;
  }
}

#search-input {
  width: 70vw;
}
