* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    background-color: rgb(251, 122, 122);
    padding: 0 5vw 0 5vw;
}

header > h1#logo-text {
    transition: 0.3s;
    cursor: pointer;
}

header > h1#logo-text:hover {
    color: wheat;
    transition: 0.3s;
}

.pokebola { 
    max-width: 2.5rem;
    margin-left: 50px;
    cursor: pointer;
    transition: 0.3s;
}

.pokebola:hover { 
    transition: 0.3s;
    transform: scale(1.2);
}

main {
    min-height: 100vh;
    padding: 5vh 0;
    background-color: rgb(121, 82, 159);
    display: grid;
    justify-content: center;
    align-content: flex-start;
}

main > div#searchBar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

main > div > input {
    border-color: white;
    width: 100%;
    height: 25px;
    margin-right: 2px;
}

main > div > button { 
    height: 30px;
    border-radius: 0;
    margin: 0 2px;
    cursor: pointer;
}

main > section > article {
    cursor: pointer;
    max-width: 40vw;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: lightcoral;
    margin: 5vh 0;
    border-radius: 1rem ;
    transition: 0.3s;
}

main > section > article:hover {
    background-color: hsl(0, 79%, 75%);
    transform: translateY(-10px);
    transition: 0.3s;
}

main > section > article > div > h2 {
    font-size: 3vw;
}

main > section > article > div > p {
    font-size: 3vw;
}

main > section > article > img {
    min-width: 50%;
    cursor: pointer;
}

main > section > article > div {
    text-align: center;
}

#scroll-top {
    display: none;
    width: 3rem;
    position: fixed;
    right: 5%;
    bottom: 5%;
    transition: 0.3s;
    cursor: pointer;
}

#scroll-top:hover {
    transition: 0.3s;
    transform: scale(1.2);
}

footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 15vh;
    color: white;
    background-color: black;
}

footer > p {
    display: inline;
    margin: 0 auto;
}

@media screen and (min-device-width : 481px) and (max-device-width : 800px) {
	/* aqui colocamos o CSS para tablets */
    main {
        background-color: rgb(69, 35, 104);
    }

    main > div > input {
        height: 25px;
    }

    main > div > button {
        height: 30px;
    }

    main > section > article {
        max-width: 70vw;
    }

    main > section > article > div > h2 {
        font-size: 6vw;
    }
    
    main > section > article > div > p {
        font-size: 5vw;
    }
    
    main > section > article > img {
        min-width: 50%;
    }
    
}

@media screen and (min-device-width : 320px) and (max-device-width : 480px) {
	/* aqui colocamos o CSS para celulares */
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    main > div#searchBar {
        width: 70%;
    }
    
    main > div > input {
        width: 100%;
        height: 25px;
    }

    main > div > button {
        height: 30px;
    }

    main > section > article {
        max-width: 55vw;
        margin: 2vh 0;
    }

    main > section > article > div > h2 {
        font-size: 5vw;
    }
    
    main > section > article > div > p {
        font-size: 4.5vw;
    }
    
    main > section > article > img {
        min-width: 50%;
    }
}

/* modal */

div.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    z-index: 1;
    left: 0;
    top: 0;
    animation-name: open;
    animation-duration: .2s;
}

@keyframes open {
    from {opacity: 0;}
    to {opacity: 1;}
}

div.closed {
    display: none;
}

div.container-modal {
    background-color: red;
    position: relative;
    border-radius: 20px;
    border: 2px solid;
    width: 90vw;
    height: 40vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    animation-name: openContainer;
    animation-duration: .2s;
}

span.closeButton { 
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 10px;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

span.close:hover { 
    cursor: pointer;
}

img.imgModal {
    width: 15vw;
}

div.container-modal > article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.container-modal > article > p {
    font-size: 2em;
}

div.container-modal > article > img {
    cursor: pointer;
}

div.container-modal > article > img.imgModal:hover {
    width: 20vw;
    font-size: 2rem;
    text-align: center;
} 

div.container-modal > article > p.pokeTipo {
    border: 1px solid;
    border-radius: 50px;
    width: 10vw;
    height: 7vh;
    text-align: center;
}