@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: helvetica;
  width: 100%;
  height: 100%;
}

article {
  margin-top: 0.313rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.hdr {
  color: white;
  background-color: black;
  height: 8.31vh;
  display: flex;
  align-items: center;
  padding-left: 10px;
  justify-content: space-between;
}

.search {
  margin-right: 10px;
}

.src {
  border: 1px solid black;
  margin-left: 10px;
  border-radius: 15px;
  padding-left: 10px;
  height: 4.15vh;
}

#btn {
  background: #154cf2;
  color: white;
  border: 1px solid black;
  border-radius: 15px;
  height: 4.15vh;
  width:120px;
  transition: 0.3s;
}

#btn:hover {
  background: #ffd42b;
  color: white;
  cursor: pointer;
}

/*--------MAIN------------*/

main {
  margin-top: 20px;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.author {
  width: 39.06vw;
  height: 46.58vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #154cf2;
  border-radius: 10px;
  font-family: "Lato", sans-serif;
  color: white;
   transition: 0.5s;
}

.author:hover {
  background-color: #ffd42b;
}

/*---------FOOTER------------*/
.ftr {
  color: white;
  background-color: #154cf2;
  margin-top: 53px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  font-family: "Lato", sans-serif;
  height: 14.97vh;
}

.contact {
  display: flex;
  align-items: center;
  gap: 40px;
}

.infs {
  display: flex;
  align-items: center;
  gap: 10px;
}

a {
  color: black;
}

.text-ftr {
  color: white;
  transition: 0.5s;
}

.text-ftr:hover {
  color: #ffd42b;
 
}

/*---------RESPONSIVO-TABLET-----------*/
@media screen and (min-width: 483px) and (max-width: 1030px) {
  /*HEADER*/
  .hdr {
    position: sticky;
    top: 0;
  }

  /*MAIN*/
  .author {
    width: 360px;
  }

  .author{
    padding-right: 20px;
  }

}

/*---------RESPONSIVO-PHONE-----------*/
@media screen and (min-width: 58px) and (max-width: 483px) {
  /*HEADER*/
  .hdr {
    position: sticky;
    font-size: 9px;
    top: 0;
  }

  /*MAIN*/

  .author{
    padding-right: 20px;
  }


  .author {
    width: 90%;
  }

  .src {
    width: 120px;
  }

  #btn {
    background: #154cf2;
    color: white;
    border: 1px solid black;
    border-radius: 15px;
    height: 4.15vh;
    width: 120px;
  }

}