body {
  background-color: rgb(37, 34, 34);
}

header {
  top: 0px;
  left: 0px;
  right: 0px;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  justify-items: center;
  align-items: center;
  background-color: black;
}

h1 {
  color: white;
  font-family: fantasy;
  font-size: 60px;
  font-weight: 200;
}

h4 {
  font-family: "Hammersmith One", sans-serif;
  font-size: 22px;
  color: #fff;
  cursor: pointer;
}

a {
  text-decoration: none;
}

.nav1 {
  display: flex;
  padding: 30px;
  margin: 10px;
  flex-direction: column;
  font-family: Trebuchet MS, Lucida Sans Unicode, Lucida Grande, Lucida Sans,
    Arial, sans-serif;
}

.nav11 {
  display: flex;
  gap: 10px;
  list-style: none;
}

.nav11 {
  border: 1px solid black;
  color: #fff;
  padding: 10px;
  background-color: rgb(54, 53, 53);
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

footer {
  top: 0px;
  left: 0px;
  right: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  height: 100px;
  font-family: "Roboto", sans-serif;
  font-size: medium;
  cursor: pointer;
}

#github {
  color: white;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.buscar {
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
}

.serie {
  position: relative;
  display: flex;
  border-radius: 15px;
  background-color: #3a3a3a;
  margin-bottom: 30px;
  height: 300px;
  width: 1050px;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #fff;
  line-height: 13px;
}

img {
  height: 300px;
  width: 200px;
  border-radius: 15px 0 0 15px;
}

.infos {
  margin-left: 30px;
  margin-right: 30px;
}

#txtBusca {
  width: 600px;
  height: 35px;
  border-radius: 10px 0 0 10px;
}

#txtBusca::placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  margin-left: 15px;
}

.buttonBusca {
  height: 42px;
  width: 55px;
  border-radius: 0 10px 10px 0;
}

.buttonBusca img {
  height: 30px;
  width: 30px;
}
