* {
    margin: 0;
    padding: 0;
}

header {
    background-image: linear-gradient(to bottom, rgb(109, 100, 60), rgb(97, 87, 45));
    color: white;
    font-size: 150%;
    width: 100%;
    text-align: center;
}

main {
    display: grid;
    background-image: linear-gradient(to bottom right, rgb(181, 157, 65), rgb(200, 193, 167));
    justify-items: center;
    gap: 15px;
    align-items: center;
}

#itemContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-items: center;

}

.carro {
    display: flex;
    justify-items: center;
    background-image: linear-gradient(to bottom right, rgb(243, 230, 181), rgb(255, 255, 255));
    border-radius: 15px;
    margin-bottom: 15px;
    width: 100%;
    height: 20vw;
}

img {
    width: 60%;
    border-radius: 15px 0px 0px 15px;
}

a {
    color: rgb(116, 110, 81);
    text-align: center;
}

ul {
    list-style-type: none;
    text-align: left;
    width: 40%;
    font-weight: bolder;
    margin-left: 1%;
}

footer {
    background-image: linear-gradient(to bottom, rgb(109, 100, 60), rgb(97, 87, 45));
    color: white;
    font-size: 100%;
    font-weight: bold;
    width: 100%;
    text-align: left;
    line-height: 4vh;
    bottom: 0;
    text-align: center;
}

.site-footer {
    color: rgb(116, 110, 81);
    font-size: 110%;
    background-color: white;
    border: 2px solid white;
    border-radius: 5px;
}

@media screen and (min-device-width : 800px) and (max-device-width : 1200px) {
    main {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .carro {
        display: flex;
        width: 100%;
        border-radius: 15px 15px;
        font-size: 90%;
    }

    ul {
        width: 40%;
        margin: 0;
        height: 100%;
        text-align: left;

    }

    img {
        width: 60%;
        height: 100%;
        border-radius: 15px 0px 0px 15px;
    }
}

@media screen and (max-device-width : 800px) {
    main {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .carro {
        display: flex;
        flex-direction: column;
        width: 60%;
        border-radius: 15px 15px;
        height: 60%;
        margin-bottom: 15px;
        font-size: 100%;
    }

    ul {
        width: 100%;
        height: 40%;
        margin-left: 3vw;
    }

    img {
        width: 100%;
        height: 60%;
        border-radius: 15px 15px 0px 0px;
    }
}