@font-face {
    font-family: "ninjaNaruto";
    src: url(njnaruto.ttf);
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0px;
    padding: 0px;
    font-family: arial;
    border: 0;
    box-sizing: border-box;
   
}

body{
    height: 100%;
    background-image: url("./midia/narutoEsasuke.jpg");
    background-size: cover;
}

header{
    background-color: rgb(0, 0, 0, 0.4);
    color: white;
    display: grid;
    align-items: center;
    height: 6vw;
    padding-left: 2%;
}

#titulo{
    width: 40vw;
    height: 10vh;
}

main{
    height: 100%;
    min-height: 520px;
}

.pesquisa{
    display: flex;
    justify-content: center;
    padding: 10px;
    height: 50px;
}

#input{
    border: 1px solid black;
    border-radius : 10px;
}
#input:hover{
    background-color: blueviolet;
    color: white;
}

#botao{
    border: 1px solid black;
    border-radius: 10px;
}

#botao:hover{
    background-color: orange;
    color: white;
}

#personagens{
    display: flex;
    row-gap: 2vh;
    flex-direction: column;
    margin: auto;
    width: 40vw;
}

.sessao:hover{
    background-color: blueviolet;
}

.sessao{
    display: flex;
    align-items: center;
    background-color: orange;
    padding: 2vh;
    gap: 3vw;
    border-radius: 10px;
}
.lista{
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: center;
}
img{
    border-radius: 20%;
    width: 120px; 
    height: 120px; 
}
footer{
    background-color: black;
    color: white;
    display: flex; 
    height: 7vw;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

p{
    font-family: "ninjaNaruto";
}

a{
    font-family: "ninjaNaruto";
}




