@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap');
/* geral do app */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oxanium', cursive;
}

/* Função estilização dentro de toda Body */
body {
  text-align: center;
  background: linear-gradient(to bottom, #6ab7f5, #fff);
  min-height: 100vh;
}

/* Função estilização dentro de toda main */

main {
  display: inline-block;
  margin-top: 2%;
  padding: 15px;
  position: relative;
}

/* Função estilização dentro de toda classe .pokedex */

.pokedex {
  width: 100%;
  max-width: 425px;
}

/* Função estilização dentro de todas imagens dos pokémons */
.pokemon__image {
  position: absolute;
  bottom: 55%;
  left: 50%;
  transform: translate(-63%, 20%);
  height: 18%;
}

/* Função estilização dos nomes dos pokemons */
.pokemon__data {
  position: absolute;
  font-weight: 600;
  color: #aaa;
  top: 54.5%;
  right: 27%;
  font-size: clamp(8px, 5vw, 25px);
}

/* Cor do nome dos pokemons */
.pokemon__name {
  color: #3a444d;
  text-transform: capitalize;
}

/* Estilização do Formulario de pesquiza */
.form {
  position: absolute;
  width: 65%;
  top: 65%;
  left: 13.5%;
}

/* Estilização da barra de pesquiza */
.input__search {
  width: 100%;
  padding: 4%;
  outline: none;
  border: 2px solid #333;
  border-radius: 10px;
  font-weight: 600;
  color: #3a444d;
  font-size: clamp(8px, 5vw, 1rem);
  box-shadow: -3px 4px 0 #888, -5px 7px 0 #333
}

/* Estilização dos botões PREV e NEXT */
.buttons {
  position: absolute;
  bottom: 10%;
  left: 50%;
  width: 65%;
  transform: translate(-57%, 0);
  display: flex;
  gap: 20px;
}

/* Estilização das classes: botões PREV e NEXT */
.button {
  width: 50%;
  padding: 4%;
  border: 2px solid #000;
  border-radius: 20px;
  font-size: clamp(8px, 5vw, 1rem);
  font-weight: 600;
  color: white;
  background-color: #444;
  box-shadow: -2px 3px 0 #222, -4px 6px 0 #000;
}

/* Função do botao de click */
.button:active {
  box-shadow: inset -4px 4px 0 #222;
  font-size: 0.9rem;
}