* {
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.id-body {
    /* Classe que estiliza corpo/body da pagina com telas 1024x1439 */
    display: grid;
   grid-template-rows: auto 1fr auto;
}

#header {
    /* Cabeçalho da pagina */
    display: flex;
    justify-content: center;
    background-color: #225930;
    color: whitesmoke;
}

#refresh {
    /* Titulo que esta no cabeçalho */
    font-size: 1.7em;
    color: white;
    background-color: #225930;
    border: #225930 ;
}

#main {
    /* conteudo principal da pagina */
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 1em;
    justify-items: center;
}

.pesquisa {
    /* Campo da pagina que está do dentro do main, e contem a caixa de pesquisa e o botao de buscar serie */
    display: flex;
    flex-direction: row;
}

#input {
    width: 50vw;
    margin-top: 1em;
    margin-right: 1.2em;
    height: 5vh;
    padding: 1em;
}

#btnPesquisa {
    height: 5vh;
    margin-top: 1em;
    padding: 0.3em;
}

#container {
    display: flex;
    flex-direction: column;
}

.card {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    margin-bottom: 2em;
    width: 70vw;
    background-color: #225930;
    border-radius: 13px;
    align-items: center;
    padding: 1em;
}

.img {
    margin-top: 0.3em;
    margin-bottom: 0.5em;
    height: 23vh;
    width: 15vw;
    border-radius: 15px;
    object-fit: contain;
    box-sizing: border-box;
}

.listaInformacoes {
    list-style: none;
    line-height: 1.5em;
    color: white;
    font-size: clamp(1vw , 0.5vw + 1vh , 2vw);
    height: 20vh;
    width: 90vw;
    margin: 1em;
    

}

#footer {
    background-color: #225930;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: aliceblue;
    position: sticky;
    padding: 1em;
}

a{
    text-decoration: none;
    color: white;
}
