*{
    margin: 0;
    padding: 0;
    font-family: 'Helvetica', sans-serif;
    /* background-color: azure; */
}


#cabeca{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1,10rem);
    background-color: white;
    /* height: 2fr; */
    border-bottom: 1px solid black;
    padding: 10px;
}

#marca{
    display: grid;
    grid-column: 1/2;
    
}

#pesquisador{
    display: grid;
    grid-column: 2/4;
    grid-row: 1/2;
    height: 30%;
    /* height: 80%; */
    
}

#fixo{
    display: grid;
    grid-column: 4/5;
    text-align: center;
    border-bottom: 1px solid black;
    /* grid-template-columns: repeat(5, 1fr); */
    /* grid-template-columns: repeat(auto0fill, minmax(17rem,1fr)); */
    /* grid-template-columns: repeat(4, 1fr); */
    /* position: sticky; */
    /* top: 0; */
}

#botao{
    height: 10px;
}

section{
    margin-bottom: 5%; 
    position: static;
    border: 5px solid black;
    width: 250px;
}


.footer{
    text-align: end;
}


/* Aplicando flex box */

/* .container2{
    display: flex;
}  */

/* Aplicando grid */

.container2{
    display: grid;
    grid-template-rows: repeat(3, 23rem);
    padding: 3rem;
    grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
    grid-template-columns: repeat(4, 17rem);
    justify-items: center;

}

aside{
    display: grid;
    grid-row: 3/3;
    grid-column: 1;
    justify-items: stretch;
    flex-direction: column;
}

@media screen and (max-width: 800px){
    .container2{
        display: flex;
        flex-direction: column;
        color: red;
    }
    .container{
        display: grid;
        grid-column: 1;
        grid-row: 1;
        position: static;   
        align-items: center;
        justify-items: center;
        justify-content: center;
    }
}
