@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 100%;
  background: linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%);
}

.header {
  border-bottom: 1px solid #e4e4e4;
  margin-bottom: 2rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
  width: 100%;
  background: linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%);
}

.logo {  font-family: 'Sarala', sans-serif;
  color: #FFF2E7;
  font-weight: 400;
  font-size: 1rem;}

.logo span {font-family: 'Sarala', sans-serif;
color: #cf8e58;
font-weight: 400;
font-size: 1rem;}

.menu {
  align-items: center;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.menu-item {
  display: flex;
  font-family: 'Sarala', sans-serif;
  color: #FFF2E7;
  font-weight: 400;
  font-size: 1rem;
}

#home  {
  position:relative;
  height: 60rem;
}

#home video {
  position: relative;
  width: 99vw;
  background: url(./fire.jpg) no-repeat;
  background-size: cover;
  z-index: -100;
  }

  #home .conteudo-home-content {
    z-index: 2;
    height: 40vh;
  }

  #home h1  {
    position: relative;
    font-family: 'Sarala', sans-serif;
    line-height: 1;
    color: #FFF2E7;
    font-weight: 400;
    font-size: 3rem;
    margin-top: -50%;
    align-content: center;
    text-align: center; 
}

#home p {
    position: relative;
    font-family: 'Sarala', sans-serif;
    line-height: 1;
    color: whitesmoke;
    font-weight: 400;
    font-size: 1.5rem;
    margin-top: 1rem;
    text-align: center;
  }

.conteudo-rodape {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 5rem;
    background-color: black;
  margin-bottom: 0;}

.conteudo-logo-direitos {
  position: relative;
    color: whitesmoke;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 0.8rem;  }

.conteudo-rodape-informacoes-texto {
  position: relative;
  text-align:center;
  color: whitesmoke;
  font-family: 'Sarala', sans-serif;
  font-weight: 400;
  font-size: 0.8rem;  }

