.navegacao {
    position: relative;
    height: 60px;
    background-color: var(--branco);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

.navegacao-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 50px;

}

.nav-logo {
    color: var(--cinza-escuro);
    font-size: 1.5em;
    font-weight: 700;
    font-family: var(--font-secundaria);
}

.logo {
    color: var(--laranja);
    font-size: 2em;
}

.navbar-lista {
    display: flex;
    gap: 20px;


}

.navbar-link {
    text-decoration: none;
    font-size: 0.9em;
    color: var(--cinza-escuro);
    margin-left: 20px;
}

.navbar-link:hover {
    border-bottom: 4px solid var(--laranja);
    color: var(--laranja);
}

.menu-lista {
    display: none;
}

.menu-hamburguer {
    display: none;
}


@media screen and (max-width:1200px) {
    .navegacao {
        position: fixed;
        top: 0;
        left: 0;
    }

    .navegacao-menu {
        justify-content: space-between;
        width: 100%;
    }


    .menu-lista {
        width: 24px;
        height: 24px;
        background-image: url('../img/Menu.svg');
        background-repeat: no-repeat;
        background-position: center;
        display: inline-block;
        cursor: pointer;
        margin-right: 150px;

    }

    .navbar-lista {
        display: none;
        position: absolute;
        top: 60px;
        left: 31%;
        padding: 1em;
        background-color: var(--laranja);
        width: 50vw;
        padding: 3em;
        text-align: center;
        transition: 0.5s;
    }

    .navbar-link {
        color: var(--branco);
        font-size: 24px;
    }

    .menu-li {
        padding: 2em;
    }

    .menu-hamburguer:checked~.navbar-lista {
        display: block;
    }

    .menu-hamburguer {
        display: none;
    }
}

@media screen and (max-width:600px)  {
  
    .menu-lista {
        margin-right: 100px;

    }

}