.rodape {
    background-color: var(--laranja);
    width: 100vw;
    height: 120px;
    text-align: center;
}

.titulo-footer {
    font-size: 1.5em;
    color: var(--branco);
    font-weight: 700;
    padding-top: 10px; 
}

.h2-footer, .link-github {
    font-size: 1.5em;
    font-family: var(--font-secundaria);
    color: var(--branco);
    margin-top: 0.5em;
}

.link-github {
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {

}