/* SEMANA 7 */
*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(33, 32, 71);
    color: white;
    /* display:flex; */
    display: grid;
}
main{
    color: white;
    
}
header{
    color: white;
    border: 40px rgb(194, 50, 50)outset;
    background-color: rgb(7, 7, 7);
    /*colocar umas fotos dentro do header */
}
/* section{
    display: grid;
} */
/*div com o input e o button*/
.botaoEclique{
    border: 10px rgb(42, 30, 97) solid;
}
button:hover{
    background-color: aqua;
}
.coleção{
    color: aqua;
    font-family: monospace;
    font-size: 40px;
    text-align: center;
}
#cabeçalho{
    color: aqua;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
section{
    color: rgb(255, 255, 255);
    margin: 10px;
    border: 15px rgb(255, 255, 255) groove;
    
}

/*the last kingdom*/
.título-TLK{
    font-family: Helvetica;
    position: relative;
    top: 0px; left: 320px;
    color: rgb(255, 255, 255) outset;
    font-size: 20px;
}
.the-last-kingdon{
    width:250px;
    height:310px;
    position: relative;
    top: 0px; left: 275px;
}
.link-para-página-tlk{
    position: relative;
    top: 0px; left: 260px;
    color: rgb(255, 5, 5);
    font-size: 25px;
}
/*----------------------*/
/*the wwalking dead*/
.link-para-pagina-twd{
    position: relative;
    top: 0px; left: 260px;
    color: rgb(255, 5, 5);
    font-size: 25px;
}
.título-TWD{
    font-family:Helvetica;
    position: relative;
    top: 0px; left: 315px;
    color: rgb(255, 255, 255) outset;
    font-size: 20px;
}
.The-walking-dead{
    width: 250px;
    height:310px;
    position: relative;
    top: 0px; left: 275px;
}
/*------------------------*/
/*clube da luta*/
.link-para-página-cluube-da-luta{
    position: relative;
    top: 0px; left: 260px;
    color: rgb(255, 5, 5);
    font-size: 25px;
}
.título-clube-da-luta{
    font-family: Helvetica;
    position: relative;
    top: 0px; left: 342px;
    color: rgb(255, 255, 255) outset;
    font-size: 20px;
}
.clube-da-luta{
    width:250px;
    height: 310px;
    position: relative;
    top: 0px; left: 275px;
}
/*---------------------------*/


footer{
  border: 20px rgb(125, 113, 113)outset;
  justify-content: center;
  align-items: center;
  text-align: center; 
  position: static;
  height: 40vh;
  width: 12vw;
  background-color:black;
  right:180px;
  color: white;
  position: relative;
  top: 0px; left: 40%;
}

@media screen and (max-device-width : 2000px) {
    .divConteudo{
        grid-template-columns: repeat(2, 1fr);
    }
    #botão{
        position: fixed;
    }
    .informacoes-de-contato{
        
        grid-template-columns: repeat(1fr);
    }
}
@media screen and (min-device-width : 200px){
    footer{
        grid-template-columns: 1fr;
    }  
}
/* @media screen and (min-device-width:200px){
    .divConteudo{
        flex-wrap: wrap;
    }
} */

.informacoes-de-contato{
    font-family: Helvetica;
    text-align:center;
    border:0;
    color: rgb(255, 255, 255);
    border: 6px rgb(235, 36, 36)outset;
}
footer:hover{
    background-color: rgb(253, 4, 4);
    
}

/*cartão do foooter*/
.nome-de-usuário{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
}
.GithubLink{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 26px;
}
.linkedlnLink{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 28px;
}
.nomeDoLinkedln{
    font-size: 20px;
}
.nomeDoGit{
    font-size:20px;
}
.informacoes-de-contato:hover{
    background: blue;
    color: aquamarine;
}
img{
    justify-content: center;
    height:130px;
    width:130px;

}
#inputS{
    font-size: 30px;
    height: 2rem;
    position: relative;
    top: 0px; left: 790px;
    /* bottom: 2px; */
    border: 10px rgb(196, 196, 221) outset;
}
#botão{
    font-size: 30px;
    height: 3rem;
    position: relative;
    top: 0px; left: 800px;
    border: 10px rgb(196, 196, 221) outset
}





