.titulo{
    position: sticky; /* aqui eu posso deixar fixo tanto com fixed quanto com sticky, mas eu quiser usar fixed preciso da um padding top na classe principal*/
    /*top: 0;
    z-index: 1; /*eu utilizo z-index onde eu quero que fique por cima de algo, aqui eu usei no header e coloquei 1 pra dizer que ele deve ficar por cima da main */
   /* background: black;*/
    color: white;
    padding: 1%;
    width: 100%;
    border-top: 2px solid orangered;
    display: flex;
}

h1{
    color: orangered;
    margin-right: 2%;
    font-size: 3.5vh;
    margin-top: 0.3%;
}