* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  
}

.containerBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.header {
  display: flex;
  flex-direction: column;
  height: 10vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-style: groove;
  border-top: 0.2vw solid black;
  border-bottom: 0.2vw solid black;
  background-color: tomato;
}


main {
  display:flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-image: url(./mídiasparasite/vecteezy_repeated-slice-of-pizza-with-a-blue-background_.jpg);
  background-size: cover;
  border-color: black;
  border-style: dashed;
}

.buscadorPizza {
  display: flex;
  flex-direction: column;
  font-size:xx-large;
  width: 30vw;
  margin-top: 1vh;
  margin-bottom: 2vh;
  background-color: black;
  color: white;
}

.buscadorPizza-button:active {
  position: center;
  background-color: gray;
  color: white;
  font-family: serif;

} 

/* verificar a necessidade de usar ou não medidas relativas*/
.buscar {
  text-align: center;
}

.botao:hover{
  color: white;
  background-color: olive;
}

.botao {
  font-size: xx-large;
  gap: 6px;
  padding: 6px;
}

.input{
  text-align: center;
  font-size: larger;
  height: 4vh;
  gap: 6px;
  padding: 6px;
}


.paiDasPizzas {
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  gap: 10px;
}


a {
  color:black;
  text-decoration: none;
}

a:hover{
color: cadetblue;
}

.padraoContainerPizzas {
  display: flex;
  flex-direction: column;
  border: 1px;
  background-color: rgba(245, 245, 220, 0.699);
  justify-items: center;
  align-items: center;
  border: 1px;
  border-color: black;
  border-style: dashed;
  padding-bottom: 1rem;
}

.ajusteIngredientes {
  justify-self: flex-start;
  margin-left: 2rem;
  list-style-type: none;
  align-self: flex-start;
} 

.tituloPizza {
  display: flex;
  justify-content: center;
}

.imagensPizza {
  display: flex;
  justify-content: center;
}

footer {
  background-color: black;
  color: white;
  height: 6vh;
  /* width: 100%; */
}



/* @media only screen and (max-width: 480px) {  img {    width: 100vw;  }} */