/* LAYOUT FEITO COM GRID */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cabecalho {
    border-bottom: 2px solid black;
    padding: 8px;
    text-align: center;
    background-color: lightgray;
    grid-column: 1/3;
}

.titulo {
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    text-decoration: underline;
}

.pesquisa {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    gap: 8px;
}

.input-pesquisa {
    height: 32px;
    width: 20%;
    border-radius: 16px;
    text-align: center; 
}

.botao-pesquisa {
    background-color: black;
    color: white;
    padding: 8px;
    border-radius: 16px;
}

.listas {
    padding: 16px;
    width: 40vw;
}

.listas-classe {
    border: 2px solid black;
    list-style-type: none;
    padding: 8px;
    border-radius: 24px;
    background-color: lightgray;
    display: grid;
    grid-template-columns: 200px 1fr;
    align-items: center;
    gap: 10px;
}

.imagem {
    max-width: 200px;
    padding: 4px;
}

.itens {
    padding-right: 16px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;
    color: rgb(161,40,0);
    font-weight: 700;
    font-size: 1.2rem;
}

.rodape {
    text-align: center;
    background-color: lightgray;
    grid-column: 1/3;
}

.imagem-icon {
    max-height: 50px;
}

.texto-rodape {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
}

.container-lista {
    display: grid;   
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}

main {
    grid-column: 1/3;
    background: rgb(161,40,0);
    background: linear-gradient(204deg, rgba(161,40,0,1) 24%, rgba(255,0,0,1) 53%, rgba(226,83,0,1) 86%);
}

@media screen and (max-width: 1000px) {
    .container {
        grid-template-columns: 1fr;
    }

    .container-lista {
        grid-template-columns: 1fr;
    }

    .listas {
        width: 70%;
    }
}

@media screen and (max-width: 540px) {
    .container {
        grid-template-columns: 1fr;
    }

    .container-lista {
        grid-template-columns: 1fr;
    }

    .listas {
        width: 100%;
    }
}