*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container{
    background-color: bisque;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header{
    height: 200px;
    background-color: brown;
    color: antiquewhite;
    margin-bottom:50px;
}

h1{
    padding: 70px 0 0 100px;
    font-size:3em;
}

main{
    padding:0 30%;
    text-align: center; 
}

input, button{
    border-radius: 15px;
    border: none;
    height:35px;
    font-size: large;
}

input{
    border: 3px solid burlywood;
    padding-left: 15px;
    padding-right: 15px;
    width:79%;
    color: rgb(179, 106, 54);
}

button{
    color: white;
    background-color: rgb(179, 106, 54);
    width: 20%;    
}

button:hover{
    background-color: saddlebrown;
}
button:active{
    background-color: brown;
}

input:focus{
    outline: none;
    border: 3px solid saddlebrown;;
}

img {
    background-color: saddlebrown;
    border: 10px solid saddlebrown;
    border-radius: 50px;
    max-width:300px;   
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5em;
    padding: 30px;
    text-align: center;
    color: black;
    border-radius: 20px;
    background-color: burlywood;
    margin: 50px auto;
}

a{
    color: black;
}

.tituloReceita{
    font-weight: bold;
    list-style:none;
}

.ingredientes{
    margin: 15px 50px;
    border: 3px solid brown;
    border-radius: 15px;
    list-style:none;
    padding: 30px;
}

.ingTitulo{
    font-weight: bold;
}

.preparo{
    margin: 15px 0;
    border: 3px solid saddlebrown;
    border-radius: 15px;
    list-style:none;
    padding: 10px;
}

.prepTitulo{
    font-weight: bold;
}

ul, ol {
    text-align: left;
    list-style-position:inside;
    margin-left: 0.75em;
  }

footer{
    background-color: brown;
    color: antiquewhite;
    height: 200px;
    text-align: center;
    margin-top: auto; 
}

.right{
    padding-right: 20px;
    text-align: right;
}

.gitLink{
    color: antiquewhite;
}

.semResultados{
    color: rgb(108, 28, 28);
}

@media screen and (max-width: 1200px){

    h1{
        padding: 70px 0;
        text-align: center;
    }
    
    main{
        padding: 50px;
    }    

    footer{
        margin-top: auto;
    }
}

@media screen and (max-width: 800px){

    #container{
        min-width: 600px;
    }

    h1{
        padding: 70px 0;
        text-align: center;
    }
}