/* Recomendamos adicionar imagens a seus itens agora. Ao fazer isso, lembre-se de criar mais uma propriedade String nos seus objetos, para guardar o caminho do link até a imagem. */

/* Se baseando no nosso exemplo de estilização, crie a identidade da sua página seguindo os passos abaixo: */

/* 1- Estilize o cabeçalho da sua página com o mesmo título que está no <title>; */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-weight: bold;
}

#divBody {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    font-size: calc(0.5657708628005658vw + 0.75em);
}

header {
    border: 1px solid black;
    background-color: rgb(0, 0, 0);
    color: white;
    padding-left: calc(0.7874015748031497vw + 20px);
    width: 100%;
    height: 15%;
}

main {
    background-color: rgb(21, 21, 21);
    width: 100%;
    height: 75%;
    flex-grow: 1;
    overflow-y: scroll;
}

.divProcurar {
    display: flex;
    margin: 2vw;
    justify-content: center;
}

.divProcurar input, button{
    height: calc(0.7vw + 1.5em);
    padding: 4px;
    border-radius: 2vw;
}

.divProcurar input {
    color: black;
}


.contPaises {
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    gap: 2vw;
    align-items: center;
    justify-content: center;
}

section {
    display: flex;
    flex-direction: column;
    min-width: 23vw;
    border: 1px solid black;
    border-radius: 2vw;
    padding: 1vw;
    
}

.bandeiraMedia {
    max-width: 20vw;
}

li {
    list-style-type: none;
}

/* 2- Estilize o rodapé para sua página, e nele, coloque suas informações de contato (nome e github); */

footer {
    background-color: rgb(0, 0, 28);
    border: 1px solid black;
    width: 100%;
    height: 10%;
}