*{
    padding: 0;
    margin: 0;
}

main{
    background-image: url("./img-nba/fundo.png");   
    background-size: cover;
}

li{
    list-style: none;

}

header{
    border: 1px solid black;
    display: flex;
    align-items: center;
    background-color: rgb(9, 9, 14);
    

}

h1{
    color: white;
    margin-left: 50px;
    padding: 10px;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    text-decoration: underline;
    color: rgb(60, 148, 129);
}


.jogador{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.pai-jogadores{

    display: flex;
    align-items: center;
    /* justify-content: center; */
    height:230px;
    width:500px;
    left:250px;
    top:273px;
    padding-left:100px ;
}

img{
    border-radius: 100px;
}


.botao{
    display: flex;
    flex-direction: column;
    align-items:flex-start ;
    justify-content: flex-start;
}

ul{
    color: white;
    display: flex;
    flex-direction: column;
    align-items:left;
    justify-content: left;
    margin-left: 10px;
}

.fundo{
    background-color: rgb(53, 34, 34);
    text-decoration: saddlebrown;
    color: rgb(184, 150, 98);
    display: flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
    padding: 0 10px 0 10px;
    border: 1px solid black;
   
    
}